<!DOCTYPE html>
<html lang="en">

{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Thesis project{% endblock title %}</title>
    <script type="text/javascript" src={% static "js/d3.js" %}></script>
    <script type="text/javascript" src={% static "js/index.js" %}></script>
    <script type="text/javascript" src={% static "js/jquery.js" %}></script>
    <link rel="stylesheet" type="text/css" href={% static "css/style.css" %}>

    <nav>
    <ul>
      <li><a href="/">Tags</a></li>
      <li><a href="/timeline">Tag-Timeline</a></li>
      <li><a href="/responsiveness">Responsiveness</a></li>
      <li><a href="/reliability">Reliability</a></li>
    </ul>
  </nav>
    {% block style %}
        <style>

        </style>
    {% endblock style %}
</head>
<body>
  <div class="spinner">
    <div class="cube1"></div>
    <div class="cube2"></div>
  </div>
  {% block content %}
  <div class="container">
      <input type="button" value="show" onclick="stopSimulation()"/>
    <div id="chart"></div>
  </div>
  <script type="text/javascript" src={% static "js/home_script.js" %}></script>
  {% endblock content %}
</body>
</html>