{% extends "index.html" %}
{% load static %}

{% block style %}
<script type="text/javascript" src={% static "js/d3-color.v1.min.js" %}></script>
<script type="text/javascript" src={% static "js/d3-interpolate.v1.min.js" %}></script>
<script type="text/javascript" src={% static "js/d3-scale-chromatic.v1.min.js" %}></script>

<style>
    .axis {
        font: 10px sans-serif;
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    .axis--x path {
      display: none;
    }

    .line {
      fill: none;
      stroke-width: 1px;
    }
</style>
{% endblock style %}

{% block content %}
    <div class="container">
        <input type="text" id="search" placeholder="Search for tags... ">
        <div id="chart"></div>
    </div>
    <script type="text/javascript" src={% static "js/timeline_script.js" %}></script>
{% endblock content %}
